ul{
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 50px 0px 0px 0px;
    text-align: center;
  }

  ul li{
    display: inline-block;
  }

  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: blueviolet;
    margin: 0px 8px;
    padding: 10px;
  }
